-# inputs: commentable

= form_for Comment.new(:commentable_id => commentable.id, :commentable_type => commentable.class.name) do |f|
  %p
    = f.text_field :title
    %br
    = f.text_area :comment
    = f.hidden_field :commentable_id
    = f.hidden_field :commentable_type
  %p
    = f.submit
