- title "Comment"

%p
  %strong Title:
  = @comment.title
%p
  %strong Comment:
  = @comment.comment
%p
  %strong Commentable:
  = @comment.commentable_id
%p
  %strong Commentable Type:
  = @comment.commentable_type
%p
  %strong User:
  = @comment.user_id

%p
  = link_to "Edit", edit_comment_path(@comment)
  |
  = link_to "Destroy", @comment, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", comments_path
