:javascript
	$(document).ready(function(){
		$( "#course_name" ).autocomplete({
			source: "/autocomplete_searches/course_names",
			focus: function(event, ui) { 
				$("#course_id").val(ui.item.id);
				$("#course_detail").show();
			}
		});
	});
	
=form_tag(add_course_students_path, :method => "post") do
	Course name:
	= text_field_tag "course[name]", params[:term], :class => "auto_search_complete", :size => 30
	%br
	= hidden_field_tag "course[id]", nil
	= hidden_field_tag "course[description_changed]", nil, :value => false
	%div.detail#course_detail{:style => "display:none" }
		%em
			%span#description_label Describe your experience with the course:
		%br
		= text_area_tag "course[comments]", nil, :cols => 50, :rows => 4
	= submit_tag "add", :name => nil, :class => 'button'