-#params: term_type (valid types: award, interest, skill, career, course, all)
:javascript
  var selectedId;
  $(document).ready(function(){
    $( "#term_name_#{term_type}" ).autocomplete({
      source: "/autocomplete_searches/term_names/#{term_type}",
      focus: function(event, ui) { 
        // $("#term_id").val(ui.item.id);
        // $("#term_detail").show();
        // $("#term_description_box").val(ui.item.description);
      },
      select: function(event, ui) {
        term_name = ui.item.label;
        term_id = ui.item.id;
        term_type = ui.item.type;
        showBox();
      }
    });
  });
  
  function showBox(){
    jQuery.facebox({ div: '#add_term' });
  }
  
=form_tag(add_term_s_path, :method => "post", :onsubmit => "showBox(); return false;") do
  -if term_type == "Interest"
    = text_field_tag "term[name]", params[:term], :class => "auto_search_complete", :id => "term_name_#{term_type}", :size => 23, :style => "margin-left:20px" 
    = submit_tag "add", :name => nil, :id => "term_add", :style => "margin-left:20px" 
  -else
    = text_field_tag "term[name]", params[:term], :class => "auto_search_complete", :id => "term_name_#{term_type}", :size => 35
    = submit_tag "add", :name => nil, :id => "term_add"