:javascript
  $(document).ready(function(){
    $( "#career_name" ).autocomplete({
      source: "/autocomplete_searches/career_names",
      focus: function(event, ui) { 
        $("#career_id").val(ui.item.id);
        $("#career_detail").show();
        $("#career_description_label").html("Description in our database; modify below if you feel this needs amendment:");
        $("#career_description_box").val(ui.item.description);
      }
    });
  });
  
  $(function() {
    $("#description_box").change( function() {
      $("#career_description_changed").val(true);
    })
  });
  
=form_tag(add_career_students_path, :method => "post") do
  = text_field_tag "career[name]", params[:term], :class => "auto_search_complete", :size => 30
  = submit_tag "add", :name => nil, :class => 'button', :id => "career_add"
  %br
  = hidden_field_tag "career[id]", nil
  = hidden_field_tag "career[description_changed]", nil, :value => false
  %div.detail#career_detail{:style => "display:none" }
    %em
      %span#career_description_label Description
    %br
    = text_area_tag "career[description]", nil, :cols => 50, :rows => 4