<% form_for(@student) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :gpa %><br />
    <%= f.text_field :gpa %>
  </p>
  <p>
    <%= f.label :hometown %><br />
    <%= f.text_field :hometown %>
  </p>
  <p>
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :fun_facts %><br />
    <%= f.text_area :fun_facts %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>