-# INPUTS: 
-# student
-# company_file

= link_to student.name, student
| 
Labels:
- student.company_labelings.where(:company_id => @company.id).each do |other_lbl|
  = other_lbl.label.name
  |
rating: #{company_file.rating}
=render :partial => "shared/star", :locals => {:entity_type => "Student", :entity_id => company_file.student_id, :starred => company_file.starred}
|
= link_to "(+)", "#", {:onClick => "$('\#company_file_#{company_file.id}').toggle()"}
= render :partial => "students/update_rating", :locals => {:student => student }
.hidden_detail{:id => "company_file_#{company_file.id}", :style => "display:none" }
  = company_file.notes
  %br/