%h2{:style => "text-align:center"}
  = link_to student.name, student
%h3= h student.subtitle
%p
  %b Gpa:
  = h student.gpa
%p
  %b Education:
  - for ss in student.school_students
    = ss.degree_name + ", " + ss.department.name + " at "
    = link_to(ss.school.name, ss.school)
    %br/
    
- if (student.work_experiences.count > 0)  
  %p
    = work_experience_block(student.work_experiences.first)
%p
  %b Activities and Leadership:
  - for experience in student.club_experiences
    = link_to( "#{experience.job_title} at #{experience.club.name}", experience.club)
    
%p
  %b Career Interests:
  - for career in student.careers
    = career_block(career)
%p
  %b Fun facts:
  = h student.fun_facts