<h1><%= @student.name %> - Edit Mode</h1>

<%= render :partial => 'form' %>

<p>
	Last updated at <%= @student.updated_at.to_s %>
</p>

<%= link_to 'Show', @student %> |
<%= link_to 'View All', students_path %>
