%h1 #{current_user.name}'s home

%h2 Recommended to you

(mix of jobs to apply for, companies to research, and tasks to complete)

%h3 Companies

- current_user.student.company_students.each do |cs|
	.company
		= link_to cs.company.name, cs.company
		(score: #{cs.company_score})
		%br


%h3 Jobs

- current_user.student.job_students.each do |js|
	.job
		= link_to "#{js.job.title} at #{js.job.company.name}" , js.job
		(score: #{js.job_score})
		%br

%h3 Tasks

- current_user.all_tasks.each do |task|
	.task
		%b= task.name
		%br
		=task.text
		%br 
		%br

%h2 Reputation score

%h3 All-time: #{current_user.rep_alltime}
%h3 This month: #{current_user.rep_month}

= link_to "Reputation log", :user

%h2 Updates

- current_user.all_updates.each do |update|
	.update
		= update_block(update,:show_name => true)
		%br
		%br