-if current_user.is_company_entity?
  = render :partial => "company_file", :locals => { :student => @student, :company_file => @company_file } 
%h2
  = h @student.user.name
  -if current_user.is_company_entity?
    =render :partial => "shared/star", :locals => {:entity_type => "Student", :entity_id => @student.id, :starred => @company_file.starred}
%h3= h @student.subtitle
%p
  %b Address:
  = h address_block(@student)
%p
  %b Gpa:
  = h @student.gpa
%p
  %b Hometown:
  = h @student.hometown
%p
  %b Phone:
  = h @student.phone
%p
  %b Email:
  = h @student.user.email
%p
  %b Gender:
  = @student.user.gender_is_male ? "male" : "female"
%p
  %b Education:
  %ul
    - for school_map in @student.school_students
      %li= school_block_for_student(school_map)
%p
  %b Relevant Coursework:
  %ul
    = render :partial => "course_student", :collection => @student.course_students
    %br
    = render "add_course"
    
%p
  %b Experiences:
  %ul
    - for experience in @student.work_experiences
      %li= work_experience_block(experience)
    %li=link_to "Add an experience", new_experience_path
%p
  %b Activities and Leadership:
  %ul
    - for experience in @student.club_experiences
      %li= club_experience_block(experience)
    %li=link_to "Add an experience", new_experience_path
%p
  %b Awards:
  %ul
    - for award in @student.awards
      %li
        = link_to award.name, award.becomes(Term)
        %br
    %li= render "add_award"
%p
  %b Career Interests:
  %ul
    - for career in @student.careers
      %li= career_block(career)
    = render "add_career"
%p
  %b Other Interests:
  %ul
    - for interest in @student.interests
      %li= interest_block(interest)
    %li= render "add_interest"
%p
  %b Fun facts:
  = h @student.fun_facts
%p
  %b Updates:
  %ul
    - for update in @updates
      %li= print_update_block(update, :show_name => false)

= link_to 'Edit', edit_student_path(@student)
|
\#{link_to 'Back', students_path}