:javascript
  var term_id;
  var term_name;
  var term_type;

-if @owner
  :javascript  
    $(document).ready(function(){
      $(".rest_in_place").rest_in_place();
    });
  
    $(document).ready(function(){
      function addClickToToggle(master_button, sub_button_class, off_text, on_text){
        $(master_button).click(function(){
          if($(master_button).html() == off_text){
            $(sub_button_class).show();
            $(master_button).html(on_text);
          }
          else{
            $(sub_button_class).hide();
            $(master_button).html(off_text);
          }
        });
      }
    
      addClickToToggle("#careers_edit", ".delete_career_button", "(edit)", "(stop)");
      addClickToToggle("#activities_edit", ".edit_activity_button", "(edit)", "(stop)");
      addClickToToggle("#work_edit", ".edit_work_button", "(edit)", "(stop)");
      addClickToToggle("#courses_edit", ".delete_course_button", "(edit)", "(stop)");
      addClickToToggle("#awards_edit", ".delete_award_button", "(edit)", "(stop)");
      addClickToToggle("#interests_edit", ".delete_interest_button", "(edit)", "(stop)");
      
    });
  
    $(function() {
    });

-if current_user.is_company_entity?
  :javascript
    var student_id = #{@student.id};
    $(document).ready(function(){
    
      // add existing highlightings
      var chs = #{@company_highlightings.to_json}
      var i = 0;
      for(i=0;i<chs.length;i++){
        if(chs[i][1] == 0){
          $("#" + chs[i][0]).addClass("highlight");
        }
        else{
          $("#" + chs[i][0] + chs[i][1]).addClass("highlight");
        }
      }
      
      var the_url;
      
      $(".hover, .value").click(function(){
        // highlighting
        if($(this).hasClass('highlight')){
          $(this).removeClass("highlight");
          the_url = "/c/unhighlight"
        }
        else{
          $(this).addClass("highlight");
          the_url = "/c/highlight"
        }
        var reference_type = $(this).attr('reference_type');
        var reference_id = $(this).attr('reference_id');
        //alert(reference_type + " " + reference_id);
        
        $.ajax({
           type: "POST",
           url: the_url,
           data: "student_id=" + student_id + "&reference_type=" + reference_type + "&reference_id=" + reference_id
         });
      });
      
    })


#leftcolumn
  =link_to edit_registration_path(current_user) do
    %img{:src => @student.avatar.url(:small), :style => "position:relative; top:8px; left:12px;"}/
  #basicinfo
    .sidetop
      %span.headertext3 Basic Info
    .sidemiddle
      %ul#infofields
        %li.field Hometown
        %li.value.tTip{:title => "Hello World", :reference_type => "Hometown"}
          %span.rest_in_place{"data-attribute" => "hometown", "data-object" => "student", "data-url" => "/students/3"}<
            = h @student.hometown
        %li.field Sex
        %li.value.tTip{:title => "Hello World", :reference_type => "Sex"} 
          = @student.gender_is_male ? "male" : "female"
        %li.field Education
        %li.value.tTip{:title => "The Massachusetts Institute of Technology (MIT) is a private research institute located in Cambridge, Massachusetts. MIT has five schools and one college, containing a total of 32 academic departments, with a strong emphasis on scientific and technological research.  Recruitd students: 314 | courses: 1252", :reference_type => "Education", :id => "Education"} 
          Massachusetts Institute of Technology
        %li.field Location
        %li.value.tTip{:title => "Hello World", :reference_type => "Location", :id => "Location"}
          %span.rest_in_place{"data-attribute" => "location", "data-object" => "student", "data-url" => "/students/3"}<
            - if !@student.location.blank?
              = h @student.location
            - else
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
        %li.field Languages
        %li.value.tTip{:title => "Hello World", :reference_type => "Languages", :id => "Languages"}
          %span.rest_in_place{"data-attribute" => "languages", "data-object" => "student", "data-url" => "/students/3"}<
            = h @student.languages
        %li.field GPA
        %li.value.tTip{:title => "Hello World", :reference_type => "GPA", :id => "GPA"} 
          %span.rest_in_place{"data-attribute" => "gpa", "data-object" => "student", "data-url" => "/students/3"}<
            = h @student.gpa
        
        %li.field Phone
        %li.value.tTip{:title => "Hello World", :reference_type => "PhoneNumber", :id => "PhoneNumber"} 
          %span.rest_in_place{"data-attribute" => "phone", "data-object" => "student", "data-url" => "/students/3"}<
            = h number_to_phone(@student.phone, :area_code => true)

        -if !@student.email.blank?
          %li.field Email
          %li.value.tTip{:title => "Hello World", :reference_type => "Email", :id => "Email"}
            = h @student.email
        -if !@student.website.blank?
          %li.field Website
          %li.value.tTip{:title => "Hello World", :reference_type => "Website", :id => "Website"}
            =h @student.website
    .sidebottom
    
  #interests
    .sidetop
      %span.headertext3 Misc
    .sidemiddle
      #intcontent
        %span.subheader Interests
        %ul.specialerul
          -if @owner
            %li.hover.tTip{:title => "Hello World"}
              = link_to "(edit)", "#", {:id => "interests_edit", :onClick => "return false;"}
          - for interest in @student.interests
            %li.hover.tTip{:title => "Hello World", :reference_type => "Interest", :reference_id => interest.id, :id => "Interest#{interest.id}"}
              = interest_block(interest)
              -if @owner
                %span.delete_interest_button{:style => "display:none"}
                  = link_to "[X]", delete_term_s_path(:id => interest.id)
          -if @owner
            %li.hover.tTip{:title => "Hello World"}
              %li= render :partial => "add_term", :locals => {:term_type => "Interest" }
      %span.subheader Fun Facts
      #funfacts
        %ul.specialerul
          %li.hover.tTip{:title => "Hello World", :reference_type => "FunFacts", :id => "FunFacts"}
            = h @student.fun_facts
            -if @owner
              = link_to "(edit)", "#", {:onClick => "$('\#fun_facts').toggle(); return false;"}
              .hidden_detail{:id => "fun_facts", :style => "display:none" }
                = form_for @student do |f|
                  = f.text_area :fun_facts
                  = submit_tag "change"
    .sidebottom
#middlecolumn
  #fullname
    = h @student.name
    -if current_user.is_company_entity?
      =render :partial => "shared/star", :locals => {:entity => @student, :starred => @company_file.starred}
      =render :partial => "shared/follow", :locals => {:user_id => @student.id, :followed => @followed}
    -#(#{@student.baseline_score})

    %h3
      %span.rest_in_place{"data-attribute" => "subtitle", "data-object" => "student", "data-url" => "/students/3"}<
        = @student.subtitle
  #experiences
    .contenttop
      %span.headertext3 Experiences
    .contentmiddle
      -if @owner
        .hover.tTip{:title => "Hello World"}
          %span
            = link_to "(edit)", "#", {:id => "work_edit", :onClick => "return false;"}
      - for experience in @student.work_experiences
        .hover.tTip{:title => experience.description, :reference_type => "Experience", :reference_id => experience.id, :id => "Experience#{experience.id}"}
          %span 
            = work_experience_block(experience)
            %span.edit_work_button{:style => "display:none"}
              %br/  
              = link_to "(edit)", edit_experience_path(experience)
        
      -if @owner
        .hover
          %span
            %li=link_to "Add an experience", new_experience_path
    .contentbottom
  #activities
    .contenttop
      %span.headertext3 Activities
    .contentmiddle
      -if @owner
        .hover.tTip{:title => "Hello World"}
          %span= link_to "(edit)", "#", {:id => "activities_edit", :onClick => "return false;"}
      - for experience in @student.club_experiences
        .hover.tTip{:title => "<li>Hello</li><li>World</li>", :reference_type => "Experience", :reference_id => experience.id, :id => "Experience#{experience.id}"}
          %span= club_experience_block(experience)
          -if @owner
            %span.edit_activity_button{:style => "display:none"}
              %br/  
              = link_to "(edit)", edit_experience_path(experience)
      -if @owner
        .hover
          %span=link_to "Add an experience", new_experience_path
    .contentbottom
  #skills
    .contenttop
      %span.headertext3 Skills
    .contentmiddle
      -if @owner
        .hover  
          %span= link_to "(edit)", "#", {:id => "skills_edit", :onClick => "return false;"}
      - @student.skills.each do |skill|
        .hover.tTip{:title => "Hello World", :reference_type => "Skill", :reference_id => skill.id, :id => "Skill#{skill.id}"}
          %span= link_to skill.name, skill.becomes(Term)
          -if @owner
            %span.delete_skill_button{:style => "display:none"}
              = link_to "[X]", delete_term_s_path(:id => skill.id)
      -if @owner
        .hover  
          %span= render :partial => "add_term", :locals => {:term_type => "Skill" }
    .contentbottom
  #courses
    .contenttop
      %span.headertext3 Courses
    .contentmiddle
      -if @owner
        .hover  
          %span= link_to "(edit)", "#", {:id => "courses_edit", :onClick => "return false;"}
      = render :partial => "course_student", :collection => @student.course_students
      -if @owner
        .hover.tTip{:title => "Start typing the name of a course..."}
          %span= render :partial => "add_term", :locals => {:term_type => "Course" }
    .contentbottom
  #awards
    .contenttop
      %span.headertext3 Awards
    .contentmiddle
      -if @owner
        .hover.tTip{:title => "Hello World"}
          %span= link_to "(edit)", "#", {:id => "awards_edit", :onClick => "return false;"}
      - @student.awards.each do |award|
        .hover.tTip{:title => "Hello World", :reference_type => "Award", :reference_id => award.id, :id => "Award#{award.id}"}
          %span= link_to award.name, award.becomes(Term)
          -if @owner
            %span.delete_award_button{:style => "display:none"}
              = link_to "[X]", delete_term_s_path(:id => award.id)
      -if @owner
        %span 
        .hover.tTip{:title => "Hello World"}
          %span= render :partial => "add_term", :locals => {:term_type => "Award" }
    .contentbottom
#rightcolumn
  #feed
    .feedtop
      %span.headertext3 Feed Updates
    .feedmiddle
      %ul.strangeul
        %ul{:style => "-webkit-padding-start: 0px; margin:0px; padding-left:10px;"}
          - for update in @updates
            %li.hover.tTip{:title => "Hello World", :reference_type => "Update", :reference_id => update.id, :id => "Update#{update.id}"}
              = print_update_block(update, :show_name => false)
    .feedbottom
    
#maincontent
  / Facebox stuff
  =render :partial => "add_term_facebox"