= stylesheet_link_tag 'accordion'

:javascript
  $(document).ready(function(){
      
  //Set default open/close settings
  $('.acc_container').hide(); //Hide/close all containers
  $('.acc_trigger:first').addClass('active').next().show(); //Add "active" class to first trigger, then show/open the immediate next container
  
  //On Click
  $('.acc_trigger').click(function(){
      if( $(this).next().is(':hidden') ) { //If immediate next container is closed...
          $('.acc_trigger').removeClass('active').next().slideUp(); //Remove all .acc_trigger classes and slide up the immediate next container
          $(this).toggleClass('active').next().slideDown(); //Add .acc_trigger class to clicked trigger and slide down the immediate next container
      }
      return false; //Prevent the browser jump to the link anchor
  });
  
  });

#sidebartop
#sidebar
  %ul{:style => " list-style:none;text-align:center;"}
    -@company.labels.each do |lbl|
      %li.hover2{:id => "hover#{lbl.id}"} 
        =lbl.name
#sidebarbottom


-@company.labels.each do |lbl|
  .container.swapper{:id => "container#{lbl.id}" }
    - lbl.company_labelings.each_with_index do |labeling, i|
      - idx = @company_files.find_index{|item| item.student_id == labeling.student_id }
      - if idx
        - company_file = @company_files[idx]
        = render :partial => 'students/manage_card', :locals => {:labels => @company.labels, :company => @company, :student => labeling.student, :company_file => company_file, :i => i }

= render :partial => 'shared/create_label'


=render :partial => "shared/update"

  
:javascript
  $(document).ready(function() {
    $(".swapper").hide();
    $("#container#{@company.labels.first.id}").show();
  });
  
  var label_ids = #{@company.labels.map{|l| l.id}};
  
  for(idx in label_ids){
    $('#hover'+label_ids[idx]).click(function(){
      $('.swapper').hide();
      $('#container'+event.srcElement.id.substr(5)).show();
     });
   };