%p
	%b Labels:
	%ul
		-@company.labels.each do |lbl|
			%li
				= link_to lbl.name, "\##{lbl.id}"
				
-@company.labels.each do |lbl|
	%a{:name => "#{lbl.id}"}
	%p
		%b= lbl.name
		%ul
			- lbl.company_labelings.each do |labeling|
				%li
					= link_to labeling.student.name, labeling.student
					%br
					Labels:
					- labeling.student.company_labelings.where(:company_id => @company.id).each do |other_lbl|
						= other_lbl.label.name
						|
					- idx = @company_files.find_index{|item| item.student_id == labeling.student_id }
					- if idx
						- cf = @company_files[idx]
						%br/
						rating: #{cf.rating}
						-if cf.starred
							| starred