<h1>Listing terms</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @terms.each do |term| %>
  <tr>
    <td><%=h term.name %></td>
    <td><%= link_to 'Show', term.becomes(Term) %></td>
    <td><%= link_to 'Edit', edit_term_path(term.becomes(Term)) %></td>
    <td><%= link_to 'Destroy', term.becomes(Term), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tag', new_term_path %>