- title "Job"

-if current_user.is_student?
  = render :partial => "shared/student_file", :locals => { :job => @job, :student_file => @student_file }

=render :partial => "shared/update"
#maincontent

  %p
    %strong Company:
    = link_to @job.company.name, @job.company
  %h1
    =h @job.title
    -if current_user.is_student?
      =render :partial => "shared/star", :locals => {:entity => @job, :starred => @student_file.starred}
  %p
    %strong Responsibilities:
    =h @job.responsibilities
  %p
    %strong Basic Qualifications:
    =h @job.basic_qualifications
  %p
    %strong Desired Qualifications:
    =h @job.desired_qualifications
  %p
    %strong Other Information:
    =h @job.other_information
  %p
    %strong Description:
    =h @job.description
  %p
    %strong Careers
    %ul
    -@job.careers.each do |career|
      %li= link_to career.name, career
  %p
    %strong Terms
    %ul
    -@job.terms.each do |term|
      %li= link_to term.name, term
  
  -if @job.owned_by?(current_user)
    %p
      = link_to "Edit", edit_job_path(@job)
      |
      = link_to "Destroy", @job, :confirm => 'Are you sure?', :method => :delete
