#top
  .scribbles Scribbles
  %img#divider{:src => "/images/divider.png"}/
  %form#feedupdate
    %input{:placeholder => "Update your feed!", :style => "width:730px;", :type => "search"}
  #update Update

#maincontent
  %h2
    You're almost done!  Confirm your details below:  
  = form_for @user.becomes(User), :url => finalize_facebook_authentications_path, :html => {:method => :post, :multipart => true} do |f|
    = hidden_field_tag "uid", @uid
    %p
      First name:
      %br/
      = f.text_field :first_name
    %p
      Last name:
      %br/
      = f.text_field :last_name
    %p
      Email:
      %br/
      = f.email_field :email
    %p
      Gender:
      %br/
      = f.select :gender_is_male, [['male', 1], ['female', 0]], { :include_blank => true }
    %p
      Profile picture: none
      %br
      Choose a profile picture (recommended):
      %br/
      = file_field_tag "avatar"
    %p= submit_tag "Update"