- form_for @department do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :school_id
    %br
    = f.text_field :school_id
  %p
    = f.label :term_id
    %br
    = f.text_field :term_id
  %p
    = f.submit
