<h1>Editing rep_transaction</h1>

<% form_for(@rep_transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.collection_select(:user_id, User.all, :id, :name, {:prompt => true})%>
  </p>
  <p>
    <%= f.label :rep_change %><br />
    <%= f.text_field :rep_change %>
  </p>
  <p>
    <%= f.label :transaction_type %><br />
    <%= f.text_field :transaction_type %>
  </p>
  <p>
    <%= f.label :reference_id %><br />
    <%= f.text_field :reference_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rep_transaction %> |
<%= link_to 'Back', rep_transactions_path %>