- form_for @award do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :url
    %br
    = f.text_field :url
  %p
    = f.label :category_id
    %br
    = f.text_field :category_id
  %p
    = f.label :term_id
    %br
    = f.text_field :term_id
  %p
    = f.submit
