- title "Awards"

%table
  %tr
    %th Name
    %th Description
    %th Url
    %th Category
    %th Term
  - for award in @awards
    %tr
      %td= h award.name
      %td= h award.description
      %td= h award.url
      %td= h award.category_id
      %td= h award.term_id
      %td= link_to 'Show', award
      %td= link_to 'Edit', edit_award_path(award)
      %td= link_to 'Destroy', award, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Award", new_award_path
