:javascript
  $(document).ready(function(){
    var isClub = true;
    if(isClub){
      toggleSourceToClub();
    }
    else{
      toggleSourceToCompany();
    }
  });
  
  function toggleSourceToClub(){
    $( "#tags" ).autocomplete({
      source: "/autocomplete_searches/club_names",
      focus: function(event, ui) { 
        $("#id_box").val(ui.item.id);
        $("#detail_box").show();
        $("#description_label").html("Description in our database; modify below if you feel this needs amendment:");
        $("#description_box").val(ui.item.description);
        $("#chosen_sponsor_box").show();
        $("#chosen_sponsor").html(ui.item.label);
      }
    });
  }
  function toggleSourceToCompany(){
    $( "#tags" ).autocomplete({
      source: "/autocomplete_searches/company_names",
      focus: function(event, ui) { 
        $("#id_box").val(ui.item.id);
        $("#detail_box").show();
        $("#description_label").html("Description in our database; modify below if you feel this needs amendment:");
        $("#description_box").val(ui.item.description);
      }
    });
  }

  $(function() {
    $("#description_box").change( function() {
      $("#description_changed").val(true);
      alert("changed!");
    })
    $("#experience_type_club").change( toggleSourceToClub );
    $("#experience_type_company").change( toggleSourceToCompany );
    
    
  });

- form_for @experience do |f|
  = f.error_messages
  %p
    = f.label :startdate
    %br
    = f.date_select :startdate
  %p
    = f.label :enddate
    %br
    = f.date_select :enddate
  %p
    = f.label :job_title
    %br
    = f.text_field :job_title
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :location
    %br
    = f.text_field :location
  %p
    .hidden_box#chosen_sponsor_box
      %span#chosen_sponsor
      
    %b
      =radio_button_tag "experience_type", "club", true
      Club
      =radio_button_tag "experience_type", "company", false
      Company
    %br
    = text_field_tag "club[name]", params[:term], :class => "auto_search_complete", :id => "tags", :size => 50
    = submit_tag "add", :name => nil, :class => 'button', :id => "add_btn"
    %br
    = hidden_field_tag "club[id]", nil, :id => "id_box"
    = hidden_field_tag "club[description_changed]", nil, :id => "description_changed", :value => false
    %div.detail#detail_box
      %em
        %span#description_label Description
      %br
      = text_area_tag "club[description]", nil, :id => "description_box", :cols => 50, :rows => 4
  %p
    = f.submit
