:javascript
  function toggleFileBox(){
    $("#student_file_box").toggle()
    if( $("#toggle_text").html() == "show file"){
      $("#toggle_text").html("hide file")
    }
    else{
      $("#toggle_text").html("show file")
    }
  }

= form_for student_file_company, :url => update_file_company_path(company), :html => {:method => :get, :style=> "width: 80%; background: #99CCFF; margin: 1em; padding: 1em;" } do |f|
  =link_to "show file", "#", {:onClick => "toggleFileBox()", :id => "toggle_text" }
  #student_file_box{:style => "display:none"}
    = f.error_messages
    %p
      = f.hidden_field :student_id
      = f.hidden_field :company_id
      rating: 
      = f.select :rating, StudentFile::RATINGS, {:include_blank => true}
    %p
      notes:
      %br
      = f.text_area :notes, :rows => 10, :cols => 50
    %p
      = f.submit "update record"
