.itemtitle
  = link_to company.name, company
.itemcontent  
  %p
    %b Website:
    = link_to company.website, company.website
  %p
    %b Founded:
    = h company.founded
  %p
    %b Size:
    = h company.size_category_text  
  %p
    =h company.description

  %p
    %b Jobs:
    - company.jobs.each do |job|
      %td= link_to job.title, job
  %p
    %b Recruiters:
    - company.recruiters.each do |recruiter|
      = link_to recruiter.name, recruiter
  %p
    %b Relevant tags:
    - company.terms.each do |term|
      =link_to term.name, term.becomes(Term)
      ,