-if current_user.is_student?
  = render :partial => "student_file", :locals => { :company => @company, :student_file_company => @student_file_company }

%p
  %h1
    = @company.name
    =render :partial => "shared/follow", :locals => {:user_id => @company.user_id, :followed => @followed}
  
%p
  %b Website:
  = link_to @company.website, @company.website
%p
  %b Founded:
  = h @company.founded
%p
  %b Size:
  = h @company.size_category_text  
%p
  =h @company.description

%h3 Jobs

%table
  %tr
    %th Title
    %th Description

  - @company.jobs.each do |job|
    %tr
      %td= link_to job.title, job
      %td= job.description  

%h3 Recruiters
- @company.recruiters.each do |recruiter|
  = link_to recruiter.user.name, recruiter
  %br
    
-if current_user.entity_id == @company.id
  %br
  = link_to 'Edit', edit_company_path(@company)