-# inputs:
-# @course
-# @companies
-# @jobs
-# @careers
-# @students
-# @comments

- title @course.name
      
%link{:href => "/stylesheets/jquery.ui.stars.css", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "/javascripts/jquery.ui.stars.js", :type => "text/javascript"}

#big
  #toppaneltop
    .genericheader
      %h1=@course.name
    .ratingwidget
      %form
        %strong Usefulness:
        %span#stars-cap
        #stars-wrapper2
          %select{:name => "selrate"}
            %option{:value => "1"} Very poor
            %option{:value => "2"} Poor
            %option{:value => "3"} Okay
            %option{:value => "4"} Not Bad
            %option{:value => "5"} Good
            %option{:selected => "selected", :value => "6"} Pretty good
            %option{:value => "7"} Better
            %option{:value => "8"} High quality
            %option{:value => "9"} Awesome
            %option{:value => "10"} Perfect
    .ratingwidget2
      %form
        %strong.movethis Difficulty:
        %span#stars-cap2.movethis
        #stars-wrapper3
          %select{:name => "selrate"}
            %option{:value => "1"} Easy Peasy
            %option{:value => "2"} Still cruisin'
            %option{:value => "3"} Cram a little
            %option{:value => "4"} Do homework
            %option{:value => "5"} Average
            %option{:value => "6"} Kinda hard
            %option{:value => "7"} Should try
            %option{:value => "8"} Work in groups
            %option{:selected => "selected", :value => "9"} Oh god
            %option{:value => "10"} Give up
  #toppanelmid
    #classdescription
      =@course.description
      -if current_user.is_company_entity?
        =render :partial => "shared/follow_term", :locals => {:term_id => @course.id, :followed => @followed}
    #metadata
      #metasub
        %ul.right
          %li
            %strong Schools Offering:
          %li
            %strong Units/Credits:
          %li
            %strong Related careers:
      %ul.answers
        %li Massachusetts Institute of Technology
        %li 6 units
        %li
          -@careers.each do |career|
            #{link_to career.name, career},
    #classtags
      #classtagstitle Some related jobs:
      -@jobs.each do |job|
        #{link_to job.name, job},

  #toppanelbot
  #bottomleftpanel
    #bottomleftpaneltop
      .genericheader2
        %h1 Students:
    #bottomleftpanelmid
      = render :partial => "shared/student_profile", :collection => @students
    #bottomleftpanelbot
  #bottomrightpanel
    #bottomrightpaneltop
      .genericheader2
        %h1 Feedback:
    #bottomrightpanelmid
      = render :partial => "shared/comment", :collection => @comments
      = render :partial => "shared/new_comment", :locals => {:commentable => @course}
    #bottomrightpanelbot
:javascript
  $("#stars-wrapper2").stars({
  	inputType: "select",
  	split:2,
  	captionEl: $("#stars-cap")
  });
  $("#stars-wrapper3").stars({
  	inputType: "select",
  	split:2,
  	captionEl: $("#stars-cap2")
  });