<h1>New student_term</h1>

<% form_for(@student_term) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :details %><br />
    <%= f.text_field :details %>
  </p>
  <p>
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </p>
  <p>
    <%= f.label :term_id %><br />
    <%= f.text_field :term_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', student_terms_path %>