-if !(defined? @current_tab)
	- @current_tab = User::TABS["HOME"]

%h1 #{current_user.name}'s home

%h2 Recommended to you

(mix of jobs to apply for, companies to research, and tasks to complete)

%h3 Companies

- @student.showable_student_feeds.each do |feed|
	- if feed.company_id
		.company
			= link_to feed.company.name, feed.company
			(score: #{feed.score})
			= link_to "star", star_company_path(feed.company)
			| 
			= link_to "dismiss", dismiss_company_path(feed.company)
			%br
	- if feed.job_id
		.job
			= link_to feed.job.title, feed.job
			(score: #{feed.score})
			= link_to "star", star_job_path(feed.job)
			| 
			= link_to "dismiss", dismiss_job_path(feed.job)
			%br


/ %h3 Tasks
/ 
/ - current_user.all_tasks.each do |task|
/ 	.task
/ 		%b= task.name
/ 		%br
/ 		=task.text
/ 		%br 
/ 		%br

%h2 Reputation score

%h3 All-time: #{current_user.rep_alltime}
%h3 This month: #{current_user.rep_month}

/ = link_to "Reputation log", :user

%h2 Updates

- current_user.updates.each do |update|
	.update
		= print_update_block(update,:show_name => true)
		%br
		%br