= stylesheet_link_tag 'accordion'

:javascript
  $(document).ready(function(){
      
  //Set default open/close settings
  $('.acc_container').hide(); //Hide/close all containers
  $('.acc_trigger:first').addClass('active').next().show(); //Add "active" class to first trigger, then show/open the immediate next container
  
  //On Click
  $('.acc_trigger').click(function(){
      if( $(this).next().is(':hidden') ) { //If immediate next container is closed...
          $('.acc_trigger').removeClass('active').next().slideUp(); //Remove all .acc_trigger classes and slide up the immediate next container
          $(this).toggleClass('active').next().slideDown(); //Add .acc_trigger class to clicked trigger and slide down the immediate next container
      }
      return false; //Prevent the browser jump to the link anchor
  });
  
  });
#content.managecontent
  #sidebartop
  #sidebar
    %ul{:style => " list-style:none;text-align:center;"}
      -@student.labels.each do |lbl|
        %li.hover2{:id => "hover#{lbl.id}"} 
          =lbl.name
      %li.hover2{:id => "hoverA"}
        starred
  #sidebarbottom
  #container0
    -@student.labels.each do |lbl|
      .container.swapper{:id => "container#{lbl.id}" }
        = render :partial => "s/labeling", :collection => lbl.student_labelings, :locals => {:labels => @student.labels}
    .container.swapper{:id => "containerA" }
      = render :partial => "s/starred_file", :collection => @starred_student_files, :locals => {:labels => @student.labels}

  = render :partial => 'shared/create_label'

  
:javascript
  $(document).ready(function() {
    $(".swapper").hide();
    $("#container1").show();
  });
  
  var label_ids = #{@student.labels.map{|l| l.id} << "A"};
  
  for(idx in label_ids){
    $('#hover'+label_ids[idx]).click(function(event){
      var srcEl = event.srcElement? event.srcElement : event.target; 
      $('.swapper').hide();
      $('#container'+srcEl.id.substr(5)).show();
     });
   };