<h1>Editing recruiter</h1>

<% form_for(@recruiter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :person_id %><br />
    <%= f.collection_select( :person_id, User.all, :id, :name, {:prompt => true}) %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :company_id %><br />
    <%= f.collection_select(:company_id, Company.all, :id, :name, {:prompt => true}) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @recruiter %> |
<%= link_to 'Back', recruiters_path %>