<h1>Listing recruiters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Company</th>
    <th>User</th>
  </tr>

<% @recruiters.each do |recruiter| %>
  <tr>
		<td><%= link_to recruiter.user.name, recruiter %></td>
    <td><%=h recruiter.phone %></td>
    <td><%=h link_to recruiter.company.name, recruiter.company %></td>
    <td><%=h recruiter.user_id %></td>
    <td><%= link_to 'Edit', edit_recruiter_path(recruiter) %></td>
    <td><%= link_to 'Destroy', recruiter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New recruiter', new_recruiter_path %>