#maincontent
  -if @owner
    #alert
      This is your public profile page.
      = link_to 'Click to edit.', edit_recruiter_path(@recruiter)
  
  %p
    %h2
      = h @recruiter.name
      -if !@owner
        =render :partial => "shared/follow", :locals => {:user_id => @recruiter.id, :followed => @followed}
  %img{:src => @recruiter.avatar.url(:small), :style => "position:relative; top:8px; left:12px;"}/
  %p
    %b Phone:
    = number_to_phone(@recruiter.phone, :area_code => true)
  %p
    %b Email:
    = h @recruiter.email
  %p
    %b Company:
    = link_to @recruiter.company.name, @recruiter.company
  %p
    %b About me:
    -if !@recruiter.about_me.blank?
      = RedCloth.new(@recruiter.about_me).to_html
  
  %br/
  \#{link_to 'Recruiters listing', recruiters_path}