!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Recruitd: Job Hunting That Doesn't Suck")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'style', 'feedback', 'contact'
    / = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/base/jquery-ui.css"
    = javascript_include_tag :defaults, 'jquery-bp', 'navigation', 'jquery.betterTooltip', 'jquery.simplemodal.js', 'contact', 'jquery.rest_in_place', 'jquery.feedback'

    =javascript_include_tag 'jquery-ui-1.8.7.custom.min'
    / = stylesheet_link_tag :all
    
    %link{:href => "/stylesheets/signup.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    
    
    = csrf_meta_tag
    
    / = javascript_include_tag 'recruitd'
    = yield(:head)
  
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      %p.notice= notice
      %p.alert= alert
      
      
    %div#everything
      %div{:style => "display:none"}
        %img{:alt => "", :src => "/images/contact/loading.gif"}/
      
      -#feedback
        #contact-form
          %a#feedbackicon.contact{:href => "#", :title => "Leave us a comment!"} Constructive Criticism!
        %a#blogicon.contact{:href => "/blog.html", :title => "Check out the Blog!"} Check out the Blog!
      
      #navigation.container
        #home{ :class => "#{(@current_tab == User::TABS["HOME"]) ? "pri-nav active" : "pri-nav" }" } 
          %div
            =# link_to "Home", home_info_path
        #public{ :class => "#{(@current_tab == User::TABS["PUBLIC"]) ? "pri-nav active" : "pri-nav" }" } 
          %div
            =# link_to "Public", public_info_path
        #manage{ :class => "#{(@current_tab == User::TABS["MANAGE"]) ? "pri-nav active" : "pri-nav" }" } 
          %div
            =# link_to "Manage", manage_info_path
        #browse{ :class => "#{(@current_tab == User::TABS["BROWSE"]) ? "pri-nav active" : "pri-nav" }" } 
          %div
            =# link_to "Browse", browse_info_path
        #settings{ :class => "#{(@current_tab == User::TABS["SETTINGS"]) ? "pri-nav active" : "pri-nav" }" } 
          %div
            =# link_to "Settings", settings_info_path
      #header
        #searchlogout
          #searchbox
            %form
              %input.differentsearch{:placeholder => "Search", :type => "search"}
                %input{:style => "display:none;", :type => "submit", :value => "Find"}
          %a{:href => "/users/sign_out", :style => "position:relative;top:-16px;left:260px;"}
            %img{:src => "/images/logout.png"}/
      
        #bg2{:style => "height:80px; background-position: 50% 0%;"}
        %a{:href => "/"}
          #logo{:style => "top:20px;"}
      
      - if show_title?
        %h1=h yield(:title)
      
      / END OF HEADER!
      
      = feedback_tab(:position => 'left')
      
      = yield
